<user-actions></user-actions>

<div class="row">
	<div class="col-xs-12">
		<div id="errorBox" class="alert alert-info" [hidden]="!error" >
		<p>{{error}}</p>
		
		</div>	
			</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h2>Available Schemas</h2>
		<table id="schema_subscriptions" class="table table-striped" [hidden]="!schemas">
			<thead>
				<tr>

					<th>Schema</th>
					<th>Last updated</th>
					<th>Actions</th>

				</tr>
			</thead>
			<tbody>

				<tr *ngFor="let schema of schemas" >
					<td>
						<a href="schema/{{schema.id}}">{{schema.name}}</a>
					</td>

					<td>
						<p>
							{{schema.updated_at ? schema.updated_at : "no updates"}}
						</p>
					</td>

					<td>
						<button class="btn-xs" [ngClass]="{'btn-danger': schema.is_subscriber, 'btn-success': !schema.is_subscriber, 'disabled': buttons_disabled}" href="" (click)="change_subscription(schema)" [disabled]="buttons_disabled">{{ schema.is_subscriber ? "Unsubscribe" : "Subscribe"}}</button>
					</td>
				</tr>
				<tr *ngIf="fetched_data == false">
					<td colspan="12"><i>Loading schemas ...</i></td>
				</tr>
				<tr *ngIf="schemas.length == 0 && fetched_data == true">
					<td colspan="12"><i>No schemas to subscribe to yet , comeback later</i></td>
				</tr>

			</tbody>
		</table>	
	</div>
</div>