<div class="row">
	<div class="col-xs-12">
		<div *ngIf="schema" class="schema-container">
			<div class="row">
				<div class="options-panel">
					<div class="col-xs-6">
						<h1>{{schema.name || "loading..."}}</h1>
					</div>
					<div class="col-xs-6">
						<span>view:</span>
						<button type="button" class="btn btn-default active" aria-label="Left Align">
	  						<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align">
	  						<span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span>
						</button>
					</div>
				</div>				
			</div>
			<div class="row">
				<div class="week-picker">
					<button type="button" class="btn btn-default pull-left" aria-label="Left Align" (click)="weekGoLeft()">
	  					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					</button>
					<span *ngFor="let schemaWeek of schemaWeeks">Vecka: {{schemaWeek.week_number + " "}}</span>
					<button type="button" class="btn btn-default pull-right" aria-label="Left Align" (click)="weekGoRight()">
	  					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</button>
					
				</div>	
			</div>
			<div class="row">
				<div class="schema" *ngFor="let schemaWeek of schemaWeeks">
					<p>Vecka {{schemaWeek.week_number}}</p>
					<table class="table striped">
						
						<thead>
							<tr>
								<th>Måndag</th>
								<th>Tisdag</th>
								<th>Onsdag</th>
								<th>Torsdag</th>
								<th>Fredag</th>	
							</tr>			
						</thead>
						
					</table>
				</div>

			</div>

		</div>
	</div>
</div>